html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, input, textarea, option, button, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

html {
	font-size: 62.5%;
	-webkit-text-size-adjust: none;
}
body {
	font-weight: normal;
	color: #242424;
}
body,
input,
select,
textarea,
option,
button,
label {
	font-size: 14px;
	font-size: 1.4rem;
	font-family: Arial,Verdana,sans-serif;
}
h1 {
	font-size: 24px;
	font-size: 2.4rem;
}
h2, h3, h4 {
	font-size: 20px;
	font-size: 2.0rem;
}
a {
	color: #ff1d24;
	text-decoration: underline;
}
a:hover { color:#fe5b60 }
ol { padding-left: 20px }