@media only screen and (max-width: 800px) {

	nav {height:auto}
	nav .show {background:#ff1d24}
	header div, nav ul, #Content, footer {width:100%}
	#Carousel, .selectedNav {display:none}
	nav button {padding-left:10px; padding-right:10px}
	header h1, #Info p, #EFLinks, #Info ol, #EntryTerms h4 {margin-left:10px}
	header img, header ul, #EntryForm, #SocialMedia {margin-right:10px}

}

@media only screen and (max-width: 600px) {

	#Info {width:100%}
	#EntryForm, #EntryForm input, #EntryForm select {width:95%}
	#Info, #EntryForm {float:none; margin-left:auto; margin-right:auto}
	#EntryForm {margin-top:0}
	#Info p, #Info ol, #EntryForm h3, #EntryForm p, #EntryForm span, #EntryForm #Submit, #EntryForm .filesUpload {margin-right:10px; margin-left:10px}
	#EntryForm input, #EntryForm select {margin-left:10px}
	#EntryTerms {display:none}
	#EntryForm, #EntryForm input {padding-left:0; padding-right:0}

}

@media only screen and (max-width: 500px) {

	header img {display:none}
	#EntryForm input, #EntryForm select {width:94%}
	#EFLinks {overflow:hidden; margin-bottom:10px}
	#EFLinks, #SocialMedia {float:none; width:100%}
	#FacebookLikeThis {margin-left:10px}

}

@media only screen and (max-width: 400px) {

	header h1 {background:url('/resources/header/ICE-logo-mobile.gif') no-repeat 0 0; height:50px; width:133px}
	nav button {text-align:left}
	#EntryForm input, #EntryForm select {width:93%}	
	body, input, select, textarea, option, button, label {font-size:1.3px; font-size:1.3rem}
	nav button, h2, h3, h4 {font-size:1.4px; font-size:1.4rem}

}

@media only screen and (max-width: 300px) {

	#EntryForm input, #EntryForm select {width:91%}
}

@media only screen and (max-width: 250px) {

	#EntryForm input, #EntryForm select {width:89%}
	#FacebookLikeThis, #SocialMedia ul {float:none}
	#FacebookLikeThis {margin-bottom:10px}
	#SocialMedia ul {margin-left:10px}
	footer p {text-align:left; margin-left:10px; margin-right:10px}
}