/* Custom font */
@font-face {
	font-family: 'HelveticaNeueLTStd-BdCn';
	src: url('../fonts/HelveticaNeueLTStd-BdCn.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/HelveticaNeueLTStd-BdCn.woff') format('woff'), 
		url('../fonts/HelveticaNeueLTStd-BdCn.ttf') format('truetype'),
		url('../fonts/HelveticaNeueLTStd-BdCn.svg#svgFontName') format('svg');
	}

/* Shared styles */
header div, nav ul, #Content, #Carousel h2, #Carousel .canvas, footer, .loginPage, .updatePage {width:960px; margin:0 auto}
header div, nav ul, #Carousel section, #Content, #Info, #SocialMedia ul, .updatePage ul, #footerInner, .updatePage form {overflow:hidden}
nav li, nav button, header img, #Carousel img, #Info section.show, .updatePage form section.show, #SocialMedia li a, #SocialMedia li img, .loginPage label, .loginPage input, .updatePage ul, .updatePage ul li, .updatePage form label, .updatePage form section textarea {display:block}
header h1, .canvas li, nav li, #Info, #SocialMedia li, .updatePage ul li, .updatePage form section, .updatePage form label, #FacebookLikeThis, #EFLinks, #EFLinks li, header li {float:left}
header img, #EntryForm, #EntryForm #Submit, #SocialMedia, #SocialMedia ul, .updatePage form div, .updatePage form section textarea, header ul {float:right}
button:hover, #EntryForm #Submit:hover, .loginPage #Submit:hover, .updatePage #Submit:hover {cursor:pointer}
#Carousel h2, nav button {text-transform:uppercase}
header div, nav, nav ul button, #Carousel section, .canvas, .canvas li, .canvas li img, #EntryForm {position:relative}
#EntryForm, #EntryForm #Submit, .loginPage #Submit, .updatePage #Submit {border-radius:5px}
#EntryForm p {font-size:12px; font-size:1.2rem}
#EntryTerms li, #EntryTerms h4 {font-size:11px; font-size:1.1rem; margin-bottom:5px}
nav ul, #SocialMedia ul, .canvas ul, #EFLinks, .updatePage ul, header ul {list-style-type:none}
#EntryForm form:after, footer:after {content:"."; visibility:hidden; display:block; height:0; clear:both}

/* Header */
header li a {font-size:10px; font-size:1.0rem; padding:0 5px; color:#a8a8a8; border-left:solid 1px #a8a8a8; text-decoration:none}
header li:first-child a {border-left:0}
header li:last-child a {padding-right:0}
header li a:hover {color:#a8a8a8}
header h1 {text-indent:-9999px; background:url('/resources/header/ICE-logo.png') no-repeat 0 0; height:65px; width: 339px; clear:both}
.ie header ul {float:none; position:absolute; right:0} /* ie header image fix */
header h1, header img {margin:30px 0 30px 0}

/* Carousel */
#Carousel, #Carousel .canvas, #Carousel section, .canvas li {height:430px}
#Carousel.slide0 {background:url('/resources/carousel/ICE-BG_A.jpg') repeat-x 0 top}
#Carousel.slide1 {background:url('/resources/carousel/ICE-BG_B.jpg') repeat-x 0 top}
#Carousel.slide2 {background:url('/resources/carousel/ICE-BG_C.jpg') repeat-x 0 top}
#Carousel.slide3 {background:url('/resources/carousel/ICE-BG_D.jpg') repeat-x 0 top}
#Carousel h2 {width:50%; position:absolute; z-index:3; top:35px; left:0; font-size:32px; font-size:3.2rem; font-family:'HelveticaNeueLTStd-BdCn', Arial,Verdana,sans-serif; font-weight:normal}
#Carousel section {left:-200px;}
#Carousel section, .canvas li {width:1360px}
.canvas ul {position:absolute; left:1200px}
.canvas li img:first-child {z-index:1}
.canvas li img + img {z-index:2; top:-430px}

/* Nav */
nav, nav .selectedNav {height:36px}
nav {background:#333}
nav .selectedNav {background:#ff1d24; position:absolute; left:0; border-radius:0 25px 25px 0}
nav button {margin:0; padding:9px 32px 5px 32px; border:0; background:none; color:#fff; font-size:18px; font-size:1.8rem; font-family:'HelveticaNeueLTStd-BdCn', Arial,Verdana,sans-serif}
nav li:first-child button {padding-left:10px}
/* IE Nav button fix */
.ie nav button {overflow:visible}
.ie7 nav button {padding-top:4px}
.ie8 nav button {padding-top:7px}

/* Main Content */
#ContentBG {background:#f4efd6 url('/resources/content/ContentBG.jpg') repeat-x 0 0}
#Info {margin-top:35px; width:55%}
#Info section {display:none}
#Info p, #Info ol {margin-bottom:25px}
#Info p:first-child, .updatePage .successMessage span {font-weight:bold}
#EntryTerms {margin-top:110px}
#EntryTerms h4 {font-weight:normal}

/* Form */
#EntryForm {margin-top:20px; margin-bottom:20px; width:30%; background:#fff; border:solid 1px #d0d0d0; padding:20px}
#EntryForm form, #EntryForm input#Submit {margin-top:10px}
#EntryForm p {margin:15px 0}
#EntryForm span, #EFLinks a:hover, header li a:hover {text-decoration:underline}
#EntryForm input, #EntryForm select {width:100%}
#EntryForm input, .loginPage input {margin-top:5px; text-indent:10px}
#EntryForm select {margin-top:5px}
#EntryForm input, .loginPage input, .updatePage textarea {border:solid 1px #d0d0d0; padding:10px 0}
#EntryForm #Submit, .loginPage #Submit, .updatePage #Submit, .updatePage ul button {width:auto; padding:10px 16px; color:#fff; text-indent:0; border:0; margin:0; font-size:16px; font-size:1.6rem}
#EntryForm #Submit:hover, .loginPage #Submit:hover, .updatePage #Submit:hover, .updatePage ul button {background:#fe5b60}
#EntryForm #Submit, .loginPage #Submit, .updatePage #Submit, .updatePage ul button:hover, .updatePage ul button.show {background:#fa1a21}
#EntryForm .filesUpload {padding:0; margin:0 0 5px 0; border:0; text-indent:0; color:#fe5b60}

/* Footer */
footer {margin-top:40px; margin-bottom:40px}
#footerInner {padding:10px 0; border-top:dotted 1px #a8a8a8; border-bottom:dotted 1px #a8a8a8}
#SocialMedia li {margin-left:5px}
#FacebookLikeThis {margin:2px 15px 0 0}
footer p, .cmsUpdate h3 {text-align:center}
footer p, #EFLinks a {color:#a8a8a8; font-size:11px; font-size:1.1rem}
#EFLinks {margin-top:3px}
#EFLinks li a {text-decoration:none; padding:0 10px; border-left:solid 1px #a8a8a8}
#EFLinks li:first-child a {padding-left:0; border-left:none}

/* Login & Update Pages */
.loginPage, .updatePage, .loginPage label, footer p {padding-top:20px}
.loginPage input, .updatePage form label, .updatePage form div {width:25%}
.loginPage #Submit, .loginPage p, .updatePage ol, .updatePage form p, .cmsUpdate {margin-top:20px}
.updatePage form section textarea {width:65%}
.updatePage .errorMessage {color:#ff1d24}
.updatePage .successMessage {color:#00CC00}
.updatePage ol, .updatePage form section textarea, .updatePage form {margin-bottom:20px}
.updatePage form, .updatePage form label {clear:both}
.updatePage form section {display:none; border:solid 1px #fe5b60; padding:20px; width:68%}
.updatePage ul {margin-top:40px}
.updatePage ul li {margin:10px 10px 0 0}
.updatePage ul li button {border-radius:5px 5px 0 0}
.updatePage textarea {resize:none; height:50px; padding-left:10px; padding-right:10px}
.updatePage textarea.largeContent {height:100px}
.cmsUpdate h3 {margin-top:80px}